<div class="terminal-screen">
    <p class="text-center title">@Title</p>  
    <p class="text-center content">@Content</p>
</div>
@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Content { get; set;}
}