<div class="terminal-screen">
    <h2 class="text-center">@Title</h2>  
    <p class="text-center">@Content</p>
</div>
@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Content { get; set;}
}